@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Rubik:wght@500&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  max-width: 1186px;
  padding: 0 5px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.top_search_area {
  height: 100vh;
  width: 100%;
  background-color: #000;
}

.top_search_area nav {
  width: 100%;
  height: 140px;
  border-bottom: 1px solid #969696;
}

.top_search_area nav .container {
  height: 100%;
}

.top_search_area nav .container .navbar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_search_area nav .container .navbar .iTodayLogo {
  width: 25%;
}

.top_search_area nav .container .navbar .iTodayLogo img {
  width: 100%;
}

.top_search_area nav .container .navbar .menu {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top_search_area nav .container .navbar .menu .menu_user_actions {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_search_area nav .container .navbar .menu .menu_user_actions button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}

.top_search_area nav .container .navbar .menu .menu_user_actions .user_action_language {
  position: relative;
  padding: 2px;
}

.top_search_area nav .container .navbar .menu .menu_user_actions .user_action_language .languages {
  padding-right: 18px;
  border: 1px solid #fac603;
  border-radius: 15px;
  height: 100%;
  position: absolute;
  top: -1px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_search_area nav .container .navbar .menu .menu_user_actions .user_action_language .languages a {
  padding-right: 5px;
  padding: 0px 5px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}

.top_search_area nav .container .navbar .menu .menu_user_actions .user_action_language .languages a:hover {
  color: #fac603;
}

.top_search_area nav .container .navbar .menu .menu_pages {
  width: 100%;
}

.top_search_area nav .container .navbar .menu .menu_pages .navbar_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_search_area nav .container .navbar .menu .menu_pages .navbar_list .nav_item:first-child {
  margin-left: 26px;
}

.top_search_area nav .container .navbar .menu .menu_pages .navbar_list .nav_item .nav_link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.top_search_area nav .container .navbar .menu .menu_pages .navbar_list .nav_item .nav_link:hover {
  color: #fac603;
}

.top_search_area .search_area .container {
  position: relative;
}

.top_search_area .search_area .container form input {
  width: 100%;
  font-size: 25px;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  border-bottom: 2px solid white;
  margin-top: 15vh;
}

.top_search_area .search_area .container button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 5vh;
  right: 3vh;
}

.main_navbar {
  width: 100%;
  height: 140px;
  background-color: #000;
}

.main_navbar .container {
  height: 100%;
}

.main_navbar .container .navbar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_navbar .container .navbar .iTodayLogo {
  width: 25%;
}

.main_navbar .container .navbar .iTodayLogo img {
  width: 100%;
}

.main_navbar .container .navbar .menu {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main_navbar .container .navbar .menu .menu_user_actions {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_navbar .container .navbar .menu .menu_user_actions button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}

.main_navbar .container .navbar .menu .menu_user_actions .user_action_language {
  position: relative;
  padding: 2px;
}

.main_navbar .container .navbar .menu .menu_user_actions .user_action_language .languages {
  padding-right: 18px;
  border: 1px solid #fac603;
  border-radius: 15px;
  height: 100%;
  position: absolute;
  top: -1px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_navbar .container .navbar .menu .menu_user_actions .user_action_language .languages a {
  padding-right: 5px;
  padding: 0px 5px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}

.main_navbar .container .navbar .menu .menu_user_actions .user_action_language .languages a:hover {
  color: #fac603;
}

.main_navbar .container .navbar .menu .menu_pages {
  width: 100%;
}

.main_navbar .container .navbar .menu .menu_pages .navbar_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_navbar .container .navbar .menu .menu_pages .navbar_list .nav_item:first-child {
  margin-left: 26px;
}

.main_navbar .container .navbar .menu .menu_pages .navbar_list .nav_item .nav_link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main_navbar .container .navbar .menu .menu_pages .navbar_list .nav_item .nav_link:hover {
  color: #fac603;
}

.top_menu_area {
  width: 100%;
  height: 100vh;
  background-image: url(../Images/menu_background.jpg);
  background-size: cover;
}

.top_menu_area nav {
  width: 100%;
  height: 140px;
  background-color: #000;
  -webkit-box-shadow: 0px 1px 10px 1px black;
          box-shadow: 0px 1px 10px 1px black;
}

.top_menu_area nav .container {
  height: 100%;
  position: relative;
}

.top_menu_area nav .container .top_menu_box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_menu_area nav .container .top_menu_box .menu_area_quoto {
  width: 20%;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.top_menu_area nav .container .top_menu_box .menu_area_user_actions {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top_menu_area nav .container .top_menu_box .menu_area_user_actions button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}

.top_menu_area nav .container .top_menu_box .menu_area_user_actions .user_actions {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_menu_area nav .container .top_menu_box .menu_area_user_actions .user_actions .user_action_language {
  position: relative;
  padding: 2px;
}

.top_menu_area nav .container .top_menu_box .menu_area_user_actions .user_actions .user_action_language .languages {
  padding-right: 18px;
  border: 1px solid #fac603;
  border-radius: 15px;
  height: 100%;
  position: absolute;
  top: -1px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_menu_area nav .container .top_menu_box .menu_area_user_actions .user_actions .user_action_language .languages a {
  padding-right: 5px;
  padding: 0px 5px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}

.top_menu_area nav .container .top_menu_box .menu_area_user_actions .user_actions .user_action_language .languages a:hover {
  color: #fac603;
}

.top_menu_area nav .container .top_menu_box .menu_area_user_actions .menu_area_user_social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_menu_area nav .container .top_menu_box .menu_area_user_actions .menu_area_user_social h3 {
  color: white;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.top_menu_area .menu_area_navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top_menu_area .menu_area_navbar .container h3 {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-top: 33px;
}

.top_menu_area .menu_area_navbar .container .menu_area_navbar_nav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top_menu_area .menu_area_navbar .container .menu_area_navbar_nav .menu_area_nav_item:first-child {
  margin-top: 40px;
}

.top_menu_area .menu_area_navbar .container .menu_area_navbar_nav .menu_area_nav_item {
  margin-top: 28px;
}

.top_menu_area .menu_area_navbar .container .menu_area_navbar_nav .menu_area_nav_item .menu_area_nav_link {
  color: white;
  text-decoration: none;
}

.top_menu_area .menu_area_navbar .container .menu_area_navbar_nav .menu_area_nav_item .menu_area_nav_link:hover {
  color: #fac603;
}

.top_menu_area .menu_area_navbar .container .exit_btn {
  position: absolute;
  top: 10;
  right: 60px;
  background-color: transparent;
  border: none;
}

.ads_banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ads_banner .container {
  padding: 20px 0;
}

.ads_banner .container .ads_link {
  width: 100%;
}

.ads_banner .container .ads_link img {
  width: 100%;
}

.main_news_section {
  width: 100%;
}

.main_news_section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_news_section .container .news_column {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_news_section .container .news_column .news_title {
  margin-bottom: 10px;
  width: 100%;
}

.main_news_section .container .news_column .news_title h1 {
  font-size: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
}

.main_news_section .container .news_column .two_main_news {
  width: 100%;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid black;
}

.main_news_section .container .news_column .two_main_news .main_new {
  width: 48%;
  padding-top: 20px;
}

.main_news_section .container .news_column .two_main_news .main_new .main_new-link .main_new_img {
  width: 100%;
}

.main_news_section .container .news_column .two_main_news .main_new .main_new-link .main_new_img img {
  width: 100%;
}

.main_news_section .container .news_column .two_main_news .main_new .main_new-link .main_new_title {
  width: 100%;
  font-size: 17px;
  color: black;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  text-align: justify;
}

.main_news_section .container .news_column .two_main_news .main_new .main_new-link .info_icons {
  width: 60%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_news_section .container .news_column .two_main_news .main_new .main_new-link .info_icons .desciptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_news_section .container .news_column .two_main_news .main_new .main_new-link .info_icons .desciptions span {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  margin-left: 5px;
}

.main_news_section .container .news_column .news_left_bottom {
  width: 100%;
}

.main_news_section .container .news_column .news_left_bottom .news_link {
  width: 100%;
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid black;
}

.main_news_section .container .news_column .news_left_bottom .news_link .news_link-img {
  width: 27%;
}

.main_news_section .container .news_column .news_left_bottom .news_link .news_link-img img {
  width: 100%;
  height: 108px;
}

.main_news_section .container .news_column .news_left_bottom .news_link .news_link-title {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_news_section .container .news_column .news_left_bottom .news_link .news_link-title a {
  font-size: 17px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: black;
}

.main_news_section .container .news_column .news_left_bottom .news_link .news_link-title a:hover {
  text-decoration: underline;
}

.main_news_section .container .news_column .news_left_bottom .news_link .news_link-title .info_icons {
  width: 35%;
  margin-top: 15px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.main_news_section .container .news_column .news_left_bottom .news_link .news_link-title .info_icons .desciptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_news_section .container .news_column .news_left_bottom .news_link .news_link-title .info_icons .desciptions span {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  margin-left: 5px;
}

.main_news_section .container .recommended_column {
  width: 37%;
}

.main_news_section .container .recommended_column .recommended_title {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.main_news_section .container .recommended_column .news_link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.main_news_section .container .recommended_column .news_link .news_link-img {
  width: 22%;
}

.main_news_section .container .recommended_column .news_link .news_link-img img {
  width: 100%;
  height: 51px;
}

.main_news_section .container .recommended_column .news_link .news_link-title {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_news_section .container .recommended_column .news_link .news_link-title a {
  font-size: 12px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: black;
}

.main_news_section .container .recommended_column .news_link .news_link-title a:hover {
  text-decoration: underline;
}

.main_news_section .container .recommended_column .news_link .news_link-title .info_icons {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.main_news_section .container .recommended_column .news_link .news_link-title .info_icons .desciptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_news_section .container .recommended_column .news_link .news_link-title .info_icons .desciptions span {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  margin-left: 5px;
}

.main_news_section .container .recommended_column .ads_banner {
  margin-top: 10px;
  width: 100%;
}

.main_news_section .container .recommended_column .ads_banner a {
  width: 100%;
  text-align: center;
}

.main_news_section .container .recommended_column .latest_news_title, .main_news_section .container .recommended_column .readers_news_title {
  width: 100%;
}

.main_news_section .container .recommended_column .latest_news_title h3, .main_news_section .container .recommended_column .readers_news_title h3 {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 48px 0;
}

.header {
  margin: 50px 0;
  font-size: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
}

.video_gallery {
  width: 100%;
}

.video_gallery .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video_gallery .container .video_gallery-vid {
  width: 32%;
  margin-bottom: 20px;
}

.video_gallery .container .video_gallery-vid .video_box {
  position: relative;
  width: 100%;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
}

.video_gallery .container .video_gallery-vid .video_box a img {
  position: absolute;
  top: 42%;
  left: 42%;
  width: 40px;
  height: 40px;
}

.video_gallery .container .video_gallery-vid .video_box a span {
  color: white;
  font-size: 19px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  padding: 0 5px;
  text-align: justify;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(128, 128, 128, 0.016)));
  background: linear-gradient(to top, black, rgba(128, 128, 128, 0.016));
}

.video_loader_btn {
  width: 100%;
}

.video_loader_btn .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video_loader_btn .container button {
  color: white;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: black;
  padding: 12px 85px;
  margin: 50px 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

.video_loader_btn .container button:hover {
  color: black;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid black;
}

footer {
  width: 100%;
  height: 235px;
  background-color: black;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .container .iTodayLogo_column {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .container .iTodayLogo_column .logo,
footer .container .iTodayLogo_column .logo img {
  width: 100%;
}

footer .container .iTodayLogo_column h2 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}

footer .container .iTodayLogo_column .follow_part {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

footer .container .iTodayLogo_column .follow_part h3 {
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}

footer .container ul {
  width: 25%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container ul li {
  margin-top: 10px;
}

footer .container ul li a {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  margin-top: 10px;
}

footer .container ul li a:hover {
  color: #fac603;
}

footer .container .mbm_logo_column {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .container .mbm_logo_column h3 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  margin-top: 10px;
}

footer .container .mbm_logo_column span {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  margin-top: 45px;
  text-align: justify;
}

@media (max-width: 768px) {
  .top_search_area nav {
    height: 70px;
  }
  .top_search_area nav .container .navbar .iTodayLogo {
    min-width: 130px;
  }
  .top_search_area nav .container .navbar .iTodayLogo img {
    width: 100%;
  }
  .top_search_area nav .container .navbar .menu {
    width: 30%;
  }
  .top_search_area nav .container .navbar .menu .menu_user_actions {
    width: 100%;
  }
  .top_search_area nav .container .navbar .menu .menu_user_actions button img {
    height: 14px;
  }
  .top_search_area nav .container .navbar .menu .menu_user_actions .user_action_language {
    position: relative;
    padding: 2px;
  }
  .top_search_area nav .container .navbar .menu .menu_user_actions .user_action_language .languages {
    padding-right: 13px;
  }
  .top_search_area nav .container .navbar .menu .menu_user_actions .user_action_language .languages a {
    color: #fac603;
    font-size: 10px;
  }
  .top_search_area nav .container .navbar .menu .menu_pages {
    display: none;
  }
  .top_search_area .search_area .container {
    position: relative;
  }
  .top_search_area .search_area .container form input {
    font-size: 18px;
  }
  .main_navbar {
    width: 100%;
    height: 70px;
    background-color: #000;
  }
  .main_navbar .container {
    height: 100%;
  }
  .main_navbar .container .navbar .iTodayLogo {
    min-width: 130px;
  }
  .main_navbar .container .navbar .iTodayLogo img {
    width: 100%;
  }
  .main_navbar .container .navbar .menu {
    width: 30%;
  }
  .main_navbar .container .navbar .menu .menu_user_actions {
    width: 100%;
  }
  .main_navbar .container .navbar .menu .menu_user_actions button img {
    height: 14px;
  }
  .main_navbar .container .navbar .menu .menu_user_actions .user_action_language {
    position: relative;
    padding: 2px;
  }
  .main_navbar .container .navbar .menu .menu_user_actions .user_action_language .languages {
    padding-right: 13px;
  }
  .main_navbar .container .navbar .menu .menu_user_actions .user_action_language .languages a {
    color: #fac603;
    font-size: 10px;
  }
  .main_navbar .container .navbar .menu .menu_user_actions .user_action_language .languages a:hover {
    color: #fff;
  }
  .main_navbar .container .navbar .menu .menu_pages {
    display: none;
  }
  .top_menu_area nav {
    width: 100%;
    height: 70px;
  }
  .top_menu_area nav .container {
    height: 100%;
    position: relative;
  }
  .top_menu_area nav .container .top_menu_box {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top_menu_area nav .container .top_menu_box .iToday_logo {
    width: 130px;
  }
  .top_menu_area nav .container .top_menu_box .iToday_logo img {
    width: 100%;
  }
  .top_menu_area nav .container .top_menu_box .mbm_logo {
    display: none;
  }
  .top_menu_area nav .container .top_menu_box .menu_area_quoto {
    display: none;
  }
  .top_menu_area nav .container .top_menu_box .menu_area_user_actions {
    width: 30%;
  }
  .top_menu_area nav .container .top_menu_box .menu_area_user_actions button img {
    height: 14px;
  }
  .top_menu_area nav .container .top_menu_box .menu_area_user_actions .user_actions {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top_menu_area nav .container .top_menu_box .menu_area_user_actions .user_actions .user_action_language {
    position: relative;
    padding: 2px;
  }
  .top_menu_area nav .container .top_menu_box .menu_area_user_actions .user_actions .user_action_language .languages {
    padding-right: 10px;
    border: 1px solid #fac603;
    border-radius: 15px;
    height: 100%;
    position: absolute;
    top: -1px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top_menu_area nav .container .top_menu_box .menu_area_user_actions .user_actions .user_action_language .languages a {
    font-size: 10px;
    color: #fac603;
  }
  .top_menu_area nav .container .top_menu_box .menu_area_user_actions .user_actions .user_action_language .languages a:hover {
    color: #fff;
  }
  .top_menu_area nav .container .top_menu_box .menu_area_user_actions .menu_area_user_social {
    display: none;
  }
  .top_menu_area .menu_area_navbar .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .top_menu_area .menu_area_navbar .container h3 {
    display: none;
  }
  .top_menu_area .menu_area_navbar .container .menu_area_navbar_nav {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .top_menu_area .menu_area_navbar .container .menu_area_navbar_nav .menu_area_nav_item:first-child {
    margin-top: 40px;
  }
  .top_menu_area .menu_area_navbar .container .menu_area_navbar_nav .menu_area_nav_item {
    margin-top: 20px;
  }
  .top_menu_area .menu_area_navbar .container .menu_area_navbar_nav .menu_area_nav_item .menu_area_nav_link {
    font-size: 12px;
    color: white;
    text-decoration: none;
  }
  .top_menu_area .menu_area_navbar .container .menu_area_navbar_nav .menu_area_nav_item .menu_area_nav_link:hover {
    color: #fac603;
  }
  .top_menu_area .menu_area_navbar .container .exit_btn {
    position: absolute;
    top: 13;
    right: 10px;
    background-color: transparent;
    border: none;
  }
  .ads_banner .container {
    padding: 5px 0;
  }
  .ads_banner .container .ads_link {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ads_banner .container .ads_link img {
    width: 70%;
  }
  .main_news_section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_news_section .container .news_column {
    width: 100%;
  }
  .main_news_section .container .news_column .news_title {
    margin: 0;
  }
  .main_news_section .container .news_column .news_title h1 {
    font-size: 18px;
  }
  .main_news_section .container .news_column .two_main_news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_news_section .container .news_column .two_main_news .main_new {
    width: 100%;
    border-bottom: 1px solid black;
  }
  .main_news_section .container .news_column .two_main_news .main_new a .main_new_img {
    width: 100%;
  }
  .main_news_section .container .news_column .two_main_news .main_new a .main_new_img img {
    width: 100%;
  }
  .main_news_section .container .news_column .two_main_news .main_new:nth-child(2) {
    width: 100%;
    border-bottom: none;
  }
  .main_news_section .container .news_column .two_main_news .main_new:nth-child(2) a .main_new_img {
    width: 27%;
  }
  .main_news_section .container .news_column .two_main_news .main_new:nth-child(2) a .main_new_img img {
    width: 100%;
  }
  .main_news_section .container .news_column .news_left_bottom .news_link {
    padding-top: 10px;
  }
  .main_news_section .container .news_column .news_left_bottom .news_link .news_link-img {
    width: 30%;
  }
  .main_news_section .container .news_column .news_left_bottom .news_link .news_link-img img {
    width: 100%;
    height: auto;
  }
  .main_news_section .container .news_column .news_left_bottom .news_link .news_link-title {
    width: 65%;
  }
  .main_news_section .container .news_column .news_left_bottom .news_link .news_link-title a {
    font-size: 9px;
  }
}
/*# sourceMappingURL=main.css.map */