.header {
    margin: 50px 0;
    font-size: 37px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
}

.video_gallery {
    width: 100%;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        .video_gallery-vid{
            width: 32%;
            margin-bottom: 20px;
            
            .video_box {
                position: relative;
                width: 100%;
                height: 220px;
                background-size: cover;
                background-repeat: no-repeat;

                a {

                    img {
                        position: absolute;
                        top: 42%;
                        left: 42%;
                        width: 40px;
                        height: 40px;
                    }

                    span {
                        color: white;
                        font-size: 19px;
                        font-family: "Rubik", sans-serif;
                        font-weight: 500;
                        position: absolute;
                        bottom: 0;
                        padding: 0 5px;
                        text-align: justify;
                        background: linear-gradient(to top, black, rgba(128, 128, 128, 0.016))
                    }


                }
            }
        }
    }
}

.video_loader_btn {
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        button {
            color: white;
            font-size: 13px;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            background-color: black;
            padding: 12px 85px;
            margin: 50px 0;
            transition: all 0.4s ease-in;
            border-radius: 5px;
        }

        button:hover {
            color: black;
            background-color: #fff;
            cursor: pointer;
        }
    }
}