@import "basic";
@import "top_search_area";
@import "navbar";
@import "top_menu_area";
@import "main_index_page";
@import "videos_section";
@import "footer";
@import "responsive_for_mobile";
@import "responsive_for_tablet";

.main_navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.navbar_hide {
    position: absolute;
    width: 100%;
    transform: translateY(-100vh);
    animation: close 0.5s forwards normal ease-in-out;
    display: none;
}

.navbar_open {
    position: fixed;
    transform: translateY(0);
    animation: open 0.5s forwards normal ease-in-out;
    z-index: 9999;
}

@keyframes open {
    from {
        transform: translateY(-100vh);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes close {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100vh);
    }
}