@import "basic";
@import "top_search_area";
@import "navbar";
@import "top_menu_area";
@import "main_index_page";
@import "videos_section";
@import "footer";
@import "responsive_for_tablet";
@import "responsive_for_mobile"